<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gym.minorproject.com.gym">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:appComponentFactory="whateverString"
        android:icon="@drawable/yoga_app"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory">
        <service
            android:name=".services.FetchFavouritesService"
            android:exported="false"></service>

        <activity
            android:name=".activities.MainYoga"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Feedback"
            android:label="@string/feedback_L"
            android:parentActivityName=".activities.MainYoga">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gym.minorproject.com.gym.activities.MainYoga" />
        </activity>
        <activity
            android:name=".activities.RateUS"
            android:label="@string/rate_us_L">

            <!-- android:parentActivityName=".MainYoga"> -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gym.minorproject.com.gym.activities.MainYoga" />
        </activity>

        <provider
            android:name=".helper.YogaContentProvider"
            android:authorities="com.gymapp"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activities.VideoActivity"
            android:label="@string/title_activity_video"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- android:parentActivityName=".ScreenSlidePagerActivity"> -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gym.minorproject.com.gym.activities.ExerciseDescription" />
        </activity>
        <activity
            android:name=".activities.ExerciseList"
            android:label="">

            <!-- android:parentActivityName=".MainYoga"> -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gym.minorproject.com.gym.activities.MainYoga" />
        </activity>
        <activity
            android:name=".activities.ExerciseDetails"
            android:label="@string/title_activity_exercise__details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AboutUs"
            android:label="@string/about_us_L"
            android:parentActivityName=".activities.MainYoga">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gym.minorproject.com.gym.activities.MainYoga" />
        </activity>
        <activity android:name=".activities.Favourite">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gym.minorproject.com.gym.activities.MainYoga" />
        </activity>
        <activity android:name=".activities.AskRegister" />
        <activity
            android:name=".activities.Login"
            android:parentActivityName=".activities.MainYoga">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gym.minorproject.com.gym.activities.MainYoga" />
        </activity>
        <activity android:name=".activities.Register" />
        <activity
            android:name=".activities.ViewUserDetails"
            android:parentActivityName=".activities.MainYoga">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gym.minorproject.com.gym.activities.MainYoga" />
        </activity>
        <activity android:name=".helper.UtilActivity" />

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>